* {

}

html {
    height: 100%;
}

body {
    height: 100%;
}

.searchBar {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

