html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("2250582.jpg");
}

.searchBar {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@media only screen and (min-width: 768px){
    .graphicDiv {
        display: flex;
        margin-top: 40px;
        margin: 0px auto;
        height: 40%;
        width: 60%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    .graphicDiv {
        display: flex;
        margin-top: 40px;
        margin: 0px auto;
        height: 40%;
        width: 60%;
    }
}

@media only screen and (max-width: 480px){
    .graphicDiv {
        display: flex;
        margin-top: 40px;
        margin: 0px auto;
        height: 40%;
        width: 100%;
    }
}